<html contentType="text/html;charset=UTF-8" language="java">
    #* Заголовок страницы *#
    <head>
        <title>PRO005_Examples_WEB</title>
    </head>
    #* Тело документа *#
    <body>
        #* Заголовки *#
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>

        #* Блок для добавлнгия текста*#
        <span><--- Text1 ---></span>
        <span><--- Text2 ---></span>

        #* Пераграфы *#
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>

        #* Деление документа на блоки *#
        <div>
            <div>
                #* Добаляет рамку вокруг блока*#
                <fieldset>
                    <legend>Functional block 1</legend>
                    <p>Field 1</p>
                    <input id="textField1" type="text">
                    <p>Field 2</p>
                    <input id="textField1" type="text">
                </fieldset>
            </div>
            <div>
                <fieldset>
                    <legend>Functional block 2</legend>
                    <input id="button1" type="button" value="Button 1">
                    <input id="button2" type="button" value="Button 2">
                    <input id="button3" type="button" value="Button 3">
                </fieldset>
            </div>
        </div>

        #* Footer - документа *#
        <footer>
            #* Гипер ссылка на другой компонент*#
            <a href="/form"> Form Page Example</a>
            <a href="/backForm"> Backend Form Page Example</a>
        </footer>
    </body>
</html>